body {
  background: #EBEAEB; 
}

#footer {
    background-color: yellow;
}

#buzz {
    background-color: red;
    margin: 0px;
}

.header.panel {
  margin: 3rem auto;
  border: 2px solid #444;
  background: #fff; 
}

.header.panel p {
    font: 1rem "Avenir Next";
    padding: 1rem 2rem 2rem 2rem;
    margin-top: -1.25rem; 
}

.header.panel p span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 75%;
      font-weight: bold; 
}

.header.panel .sign {
    background: #fff;
    width: 170px;
    height: 2.4rem;
    border: 2px solid #444;
    position: relative;
    top: -2.5rem;
    margin: auto; 
}

.header.panel .sign h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 3px;
      color: #666;
      font-size: 70%;
      text-align: center;
      line-height: 2rem; 
}

#header {
    background-color: yellow;
    font-size: 40px;
}